:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --primary-color: #af8e6f;
    --border-color: #fafafa;
    --hover-color: #e7e7e7;
}

.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #bb86fc;
    --border-color: #333333;
    --hover-color: #333333;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 200;
    line-height: 1.5;
    padding: 80px;
    background-color: var(--background-color);
    color: var(--text-color);
}

button {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 1px solid var(--border-color);
}

button:hover {
    transform: scale(1.2);
}

header {
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px; 
    background-color: var(--background-color); 
    z-index: 1000; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

.logo img {
    height: 50px;
}

.menu {
    display: flex;
    justify-content: flex-start;
    padding-right: 500px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}

.menu ul li a:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

.fade-in-image {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.content {
    margin-top: 20px;
}

.single-image {
    text-align: center;
}

.single-image img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.title {
    font-size: larger;
    text-align: center;
}

.text-row p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6;
}

.text-image-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.text-column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.text-column p {
    font-size: 1.1rem;
    margin-bottom: 10px;
    max-width: 500px;
}

.image-column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.image-column img {
    width: 100%;
    height: auto;
    max-width: 500px;
    border-radius: 8px;
}

.three-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    max-width: 100%;
    margin: 20px;
}

.grid-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.row {
    margin-bottom: 20px;
}

.item-left{
    text-align: right;
}

.item-right{
    text-align: left;
}

.text-column, .image-column {
    justify-content: center; 
}

@media (max-width: 768px) {
    .text-image-row {
        flex-direction: column;  
    }

    .text-column, .image-column {
        max-width: 100%;  
    }
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}