:root{
    --background-color: #ffffff; 
    --text-color: #000000;      
    --primary-color: #af8e6f;  
    --border-color: #fafafa;
    --hover-color:  #e7e7e7;


    body {
        background-color: var(--background-color);
        color: var(--text-color);
      }
      
    button {
        background-color: var(--primary-color);
        color: var(--background-color);
        border: 1px solid var(--border-color);
    }

    button:hover {
        transform: scale(1.2);
    }

}

.dark-mode {
    --background-color: #121212; 
    --text-color: #ffffff;      
    --primary-color: #bb86fc;   
    --border-color: #333333;
    --hover-color: #333333;

}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 200;
    line-height: 1.5;
}


.logo img {
    height: 50px;  
}

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
}

.menu {
    display: flex;
    justify-content: flex-start;
}

.menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}

.menu ul li a:hover {
    color: var(--primary-color);
    transform: scale(1.2);
}

.fade-in-image {
    animation: fadeIn 3s;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);   
    gap: 10px;  
    max-width: 100%;
    margin: 20px; 
}


.grid-container img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

